.profile{

width: 120px;
height: 120px;
border-radius: 0 50px 50px 50px;
margin: 2px;
}

h1,
p{
  text-align: justify;
  font-family: Verdana, Tahoma, sans-serif;
}

p{

    font-size: 20px;
    text-align: justify;

}


body {

    background-color: #F5EEDC;
}

.header {
  background-color: #97BFB4;
  border-radius: 25px;
}

hr {


  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width:5%;
}
